/* ====================================================
   ADAPTS STYLES
======================================================= 
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
======================================================= */
.intro_plashka {  
    display: none;
}
@media handheld, only screen and (min-width: 1170px) {
    .wrapper {
        margin: 0 auto;
        width: 1170px; 
        padding-left: 70px;
    }
}
@media handheld, only screen and (max-width: 1919px) {
	.intro {
	    background-position: center;
	}
}
@media handheld, only screen and (max-width: 1365px) {
	/*
	================================================================================
	|                                     TECH_SEARCH                                    |
	================================================================================
	*/
	.tech_search._min .tech_search_col img {
	    right: -143px;
	}
}
@media handheld, only screen and (max-width: 1200px) {
    .fixed_line {
        display: none;
    }
    .footer {
        padding: 50px 15px;
    }
    .footer_service {
        padding-right: 0;
    }
    /*
	================================================================================
	|                                     THANK                                    |
	================================================================================
	*/
	.thank_download {
		padding-top: 40px;
	}
    .thank_download_man {
    	display: none; 
    }
    .thank_download_laptop { 
    	right: initial;
    	left: 214px;
    }
}
@media handheld, only screen and (max-width: 1199px) {
    .wrapper {
        padding: 0 15px!important;
    }
    /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
	.tech {
		.wrapper {
			.tech_book {
				display: none;
			}
		}
	}
	.tech_button {
	    margin: 58px auto 0;
    	float: none;
	}
	/*
	================================================================================
	|                                     CREATE                                   |
	================================================================================
	*/
	.create_service li {
		width: 33.33%;
		margin-left: 0;
		padding-right: 15px;
	}
	.create_content_col:first-child {
		background-size: contain;
	}
	/*
	================================================================================
	|                                     TECH_SEARCH                                    |
	================================================================================
	*/
	.tech_search._min .tech_search_col img {
	    right: -27px;
	    width: 100%;
	}
}
@media handheld, only screen and (max-width: 1023px) {
    /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
	.tech_search_col img {
	    width: 100%;
	    right: -82px;
	    top: 0;
	}
	.tech_search_download {
		top: 195px;
		right: 48px;
	}
	/*
	================================================================================
	|                                     TECH_SEARCH                                    |
	================================================================================
	*/
	.page_search_help {
		.tech_search_col {
			float: none;
			width: 100%;
			text-align: center;
			&:first-child {
				display: none;
			}
		}
	}
	.page_search_help .tech_search_col:last-child {
		width: 100%;
	    padding-left: 15px!important;
        padding-right: 15px!important;
	}

}//1023
@media handheld, only screen and (max-width: 960px) {
	/*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
	.tech_search {
	    height: 695px;
	}
	.tech_search_col {
		float: none;
		width: 100%;
		&:first-child {
			display: none;
		}
	}
	.tech_search_col:last-child {
		padding-left: 0;
	}
	/*
	================================================================================
	|                                     THANK                                    |
	================================================================================
	*/
	.thank_download_laptop {
	    left: 198px;
	    background-size: contain;
	    width: 600px; 
	}
	/*
	================================================================================
	|                                     CREATE                                   |
	================================================================================
	*/
	.create_service li {
		font-size: 14px;
		line-height: 17px;
	}
	.create_content_menu li {
		font-size: 14px;
		line-height: 20px;
	}
	.create_content_menu li:before {
		top: 5px;
	}
}
@media handheld, only screen and (max-width: 800px) {
	/*
	================================================================================
	|                                     CREATE                                   |
	================================================================================
	*/
	.create_content_col:first-child {
		display: none;
	}
	.create_content_col:last-child {
	    padding-left: 0;
	}
	.create_content_col {
		float: none;
		width: 100%;
		min-height: inherit;
	}
	.create_service {
	    margin: 0 auto 30px;
	}
}
@media handheld, only screen and (max-width: 768px) {
	/*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
	.tech {
	    height: 200px;
	}
	.tech_button {
	    margin: -12px auto 0;
	    background-size: 219px;
	    background-position: center 37px;
	    width: 100%;
	}
	.tech_button {
		.but {
		    width: 300px;
			margin: 0 auto;
		}
	}
	.tech_search {
		height: 365px;
	}
	.tech_search_col:last-child {
	    padding-top: 16px;
	    padding-left: 0;
	}
	.tech_search_titles {
	    margin-bottom: 15px;
	    font-size: 23px;
	}
	.tech_search__desc {
	    font-size: 12px;
	    line-height: 16px;
	    margin-bottom: 15px;
	}
	.tech_search_list {
	    margin-bottom: 15px;
	}
	.tech_search_list li {
	    margin-bottom: 14px;
	    padding-left: 25px;
	    font-size: 12px;
	}
	.tech_search__desc._light {
		margin-bottom: 15px;
    	font-size: 12px;
	}
	.tech_search_list li:before {
	    background: url(../img/sprites_mob.png) no-repeat 0 0;
	    width: 16px;
	    height: 16px;
	    left: 0;
	    top: 0;  
	}
	.tech_search_list li._first:before {
	    background-position: -50px 0;
	}
	.tech_search_list li._middle:before {
	    background-position: -48px -21px;
	    top: 2px;
	}
	.tech_search_list li._last:before {
	    background-position: -50px -42px;
	    top: -4px;
	}

	/*
	================================================================================
	|                                     NECESSARY                                   |
	================================================================================
	*/
	.necessary {
	    padding: 30px 0 30px;
	}
	.necessary__title {
	    font-size: 15px;
	    margin-bottom: 30px;
	}
	.necessary_items {
	    margin: 0 0 30px -30px;
	}
	.necessary_items_col {
	    padding-left: 30px;
	}
	.necessary_items__icon {
	    margin: 0 auto 4px;
	    background: url('../img/sprites_mob.png') no-repeat 0 0; 
	    width: 40px;
	    height: 40px;

	    &._icon_1 {
	        background-position: -72px 3px;
	    }
	    &._icon_2 {
	        background-position: -121px 7px;
	    }
	    &._icon_3 {
	        background-position: -173px 6px;
	    }
	}
	.necessary_items__desc {
	    font-size: 12px;
	    line-height: 16px;
	}
	.necessary_desc {
	    font-size: 12px;
	    line-height: 16px;

	    border: 1px solid @blue;
	    padding: 20px 0 15px;
	    &._help {
	        margin-top: 40px;
	        padding: 30px 15px 20px;
	    }
	}
	.necessary_desc__icon {
	    width: 85px;
	    height: 35px;
	    top: -25px;
	    &:before {
	        margin: 3px auto 0;
	        width: 33px;
	        height: 37px;
	        background: url('../img/sprites_mob.png') no-repeat 0 0;
	    }
	}
	.necessary_desc {
	    &._help {
	        .necessary_desc__icon {
	            width: 185px;
	            top: -20px;
	            &:before {
	                left: 22px;
	                top: 6px;
	                background-position: -250px 0;
	                width: 21px;
	                height: 21px;
	            }
	            span {
	                font-size: 23px;
	                letter-spacing: -1px;
	                padding-top: 12px;
	            }
	        }
	    }
	}

	/*
	================================================================================
	|                                     INTRO                                    |
	================================================================================
	*/
	.intro {
	    height: 275px;
	}
	.intro_about {
	    padding-top: 30px;
	}
	.intro_about__title {
	    line-height: 16px;
	    font-size: 13px;
	    margin-bottom: 15px;
	}
	.intro_about__info {
	    font-size: 12px;
	    line-height: 16px;
	    margin-bottom: 25px;
	}
	.intro_about_col {
	    float: none;
	    width: 100%;
	    &:first-child {
	    }
	}
	.intro_about_col {
		max-width: 300px;
	}
	.intro_about_name {
	    border-left: 2px solid #2e55ad;
	    padding-left: 10px;
	    bottom: -56px;
	    right: 0;
	}
	.intro_about_name span:first-child {
	    font-size: 12px;
	    margin-bottom: 4px;
	    padding-top: 3px;
	}
	.intro_about_name span {
	    font-size: 12px;
	}

	/*
	================================================================================
	|                                     THANK                                    |
	================================================================================
	*/
	.thank_download {
		height: 285px;
	}
	.thank_download_titles {
	    font-size: 23px;
	    margin-bottom: 18px;
	    line-height: 26px;
	}
	.thank_download__slogan {
	    font-size: 12px;
	    line-height: 16px;
	    padding-left: 10px;
	    border-left: 2px solid #2e55ad;
	    margin-bottom: 40px;
	}
	.thank_download_laptop {
	    left: 249px;
	    background-size: contain;
	    width: 377px;
	    bottom: -56px;
	    height: 202px; 
	}
	.thank_download_laptop:before {
	    left: 15px;
	    top: 75px;
	    width: 48px;
	    height: 16px;
	    background: url(../img/tech_thank_arrow.png) no-repeat left 0;
	    background-size: contain;
	}
	.thank_download__info {
	    font-size: 12px;
	    line-height: 16px;
	}

	/*
	================================================================================
	|                                     CREATE                                   |
	================================================================================
	*/
	.create {
	    padding: 20px 0 30px;
	}
	.create_slogan {
	    font-size: 12px;
	    margin-bottom: 12px;
	    line-height: 16px;
	}
	.create_titles {
	    font-size: 20px;
	    line-height: 25px;
	    margin-bottom: 20px;
	}
	.create_service {
	    margin: 0 0 20px;
	}
	.create_service li {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		padding-right: 0;
		padding-left: 27px;
	}
	.create_service li:before {
	    background: url(../img/sprites_icon_mob.png) no-repeat 0 0;
	    width: 18px;
	    height: 18px;
	}
	.create_service li._icon_1:before {
	    background-position: 2px 2px;
	}
	.create_service li._icon_2:before {
	    background-position: -20px 3px;
	}
	.create_service li._icon_3:before {
	    background-position: -41px 2px;
	}
	.create_content__title {
	    font-size: 15px;
	    line-height: 16px;
	    margin-bottom: 20px;
	}
	.create_content_menu li:before {
	    top: 4px;
	    width: 8px;
	    height: 8px;
	    background-size: cover;
	}
	.create_content_menu li {
	    font-size: 12px;
	    line-height: 16px;
	}

	/*
	================================================================================
	|                                     TECH_SEARCH                                    |
	================================================================================
	*/
	.page_search_help {
		.tech_search._min {
		    height: 615px;
		}
		.tech_search_col {
			float: none;
			width: 100%;
			text-align: center;
			&:first-child {
				display: none;
			}
		}
	}
	/*
	================================================================================
	|                                     TECH_SEARCH                                    |
	================================================================================
	*/
	.page_search_help {
		.tech_search._min {
		    height: 175px;
		}
	}
	.search_done__title {
	    font-size: 21px;
	    margin-bottom: 20px;
	    padding-top: 10px;
	}
	.search_done__desc {
	    font-size: 15px;
	    line-height: 20px;
	}

	/*
	================================================================================
	|                                     INSTRUCTION                                    |
	================================================================================
	*/
	.instruction {
	    padding: 30px 0 30px;
	}
	.instruction_colums {
	    margin: 0 0 0 0;
	}
	.instruction_col {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	    margin-bottom: 10px;
	}
	.instruction_icon {
	    display: table;
	    margin: 0 auto 8px;
	    width: 150px;
	    height: 145px;
	}
	.instruction_icon._icon_1 {
	    background-size: contain;
	    background-position: 0 23px;
	}
	.instruction_icon._icon_2 {
	    background: url(../img/instruction_icon2.png) no-repeat 0 35px;
	    background-size: contain;
	}
	.instruction_icon._icon_3 {
	    background: url(../img/instruction_icon3.png) no-repeat 0 35px;
	    background-size: contain;
	}
	.instruction__desc {
	    font-size: 12px;
	    line-height: 16px;
	}
	.instruction__level {
	    margin-bottom: 8px;
	}

	/*
	================================================================================
	|                                     OTHER                                    |
	================================================================================
	*/
    .form__field {
        height: 30px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .form_row._bottom {
        padding-right: 0;
        display: block;
    }
    .but {
        height: 30px;
        font-size: 11px;
        line-height: 30px;
        letter-spacing: 2px;
        text-align: center;
        padding-left: 0;
    }
    .but_icon:before {
    	top: 8px;
    	background-size: 80%;
    }
    .but_icon:hover:before {
    	top: 8px;
    }
    .but:hover:after {
        height: 400%;
        opacity: 0;
    }
    .but:hover {
        color: @white;
    }
    .form_row {
        margin-top: 15px;
    }
    /*
	================================================================================
	|                                     FOOTER                                   |
	================================================================================
	*/
    .footer{    
        padding: 15px;  
        height: 106px; 
        font-size: 14px;    
        text-align: center;
    }
    .footer_support {
        float: none;
        margin-bottom: 10px; 
    }
    .footer_service {
        float: none;
        text-align: center;
    }
    .footer_service a {
        margin-left: 0;
        float: none;
        display: table;
        margin: 0 auto 10px;
    }
    .content {
        padding-bottom: 96px !important;
    }
    
}//768
@media handheld, only screen and (max-width: 599px) {
	/*
	================================================================================
	|                                     THANK                                    |
	================================================================================
	*/
	.thank_download_laptop {
	    left: 258px;
	    width: 236px;
	    bottom: -56px;
	    height: 152px; 
	}
	.thank_download_laptop:before {
	    left: -21px;
	    top: 32px;
	}
	/*
	================================================================================
	|                                     INTRO                                    |
	================================================================================
	*/
	.intro_about {
	    padding-top: 102px;
	}
	.intro_about_name {
	    bottom: 212px;
	    right: initial;
	    left: 0;
	}
    
}//599
@media handheld, only screen and (max-width: 520px) {
	.tech_search {
	    height: 380px; 
	}
}
@media handheld, only screen and (max-width: 480px) {
	/*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
	.tech_search {
		height: 449px;
	}
	.form_row._tech {
	    margin: 0 0 0 0;
	}
	.tech_search_form_col {
	    float: none;
	    width: 100%;
	    padding-left: 0;
	    &:first-child {
	    	margin-bottom: 10px;
	    }
	}
	/*
	================================================================================
	|                                     NECESSARY                                   |
	================================================================================
	*/
	.necessary_items {
	    margin: 0 0 30px 0;
	}
	.necessary_items_col {
	    padding-left: 0;
	    float: none;
	    width: 100%;
	    margin-bottom: 15px;
	}
	.necessary_desc {
	    padding: 20px 15px 15px;
	}
}
@media handheld, only screen and (max-width: 479px) {
	/*
	================================================================================
	|                                     INTRO                                    |
	================================================================================
	*/
	.intro {
	    height: 295px;
	}
	.intro_about {
	    padding-top: 154px;
	}
	.intro_about__title {
	    margin-bottom: 4px;
	}
	.intro_about__info {
	    margin-bottom: 9px;
	}
	/*
	================================================================================
	|                                     THANK                                    |
	================================================================================
	*/
	.thank_download {
	    padding-top: 20px;
	    height: 245px;
	}
	.thank_download_laptop {
	    display: none;
	}
	.thank_download__slogan {
		margin-bottom: 27px;
	}
	/*
	================================================================================
	|                                     TECH                                     |
	================================================================================
	*/
	.tech_button .but {
	    width: 100%;
	}
	//footer
	.footer_support a {
		margin-top: 5px;
		display: block;
	}
}
@media handheld, only screen and (max-width: 360px) {
	.tech_search {
	    height: 485px;
	}
	.intro {
	    height: 316px;
	    background-position: center -10px;
	}
}
@media (min-width: 769px)and (max-width: 948px) {
	.tech_search {
	    height: 735px;
	}
}
@media (min-width: 571px)and (max-width: 948px) {
	.tech_search_col:last-child {
	    width: 570px;
    	margin: 0 auto;
	}
}
@media (min-width: 481px)and (max-width: 571px) {
	.tech_search_col:last-child {
	    width: 100%;
    	margin: 0 auto;
	}
}