.create_service {
  display: table;
  margin: 0 auto 88px;
}
/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  font-size: 13px!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*MAIN*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
input,
textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
td {
  margin: 0px;
  padding: 0px;
}
form {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
a {
  color: #000100;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after,
.wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
}
/***** Fonts */
@font-face {
  font-family: 'fs_elliot_probold';
  src: url('../fonts/fselliotpro-bold-webfont.eot');
  src: url('../fonts/fselliotpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fselliotpro-bold-webfont.woff2') format('woff2'), url('../fonts/fselliotpro-bold-webfont.woff') format('woff'), url('../fonts/fselliotpro-bold-webfont.ttf') format('truetype'), url('../fonts/fselliotpro-bold-webfont.svg#fs_elliot_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fs_elliot_proregular';
  src: url('../fonts/fselliotpro-webfont.eot');
  src: url('../fonts/fselliotpro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fselliotpro-webfont.woff2') format('woff2'), url('../fonts/fselliotpro-webfont.woff') format('woff'), url('../fonts/fselliotpro-webfont.ttf') format('truetype'), url('../fonts/fselliotpro-webfont.svg#fs_elliot_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fs_elliot_prolight';
  src: url('../fonts/fselliotpro-light-webfont.eot');
  src: url('../fonts/fselliotpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fselliotpro-light-webfont.woff2') format('woff2'), url('../fonts/fselliotpro-light-webfont.woff') format('woff'), url('../fonts/fselliotpro-light-webfont.ttf') format('truetype'), url('../fonts/fselliotpro-light-webfont.svg#fs_elliot_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * Всякие заготовки
 */
/****** Эффект для placeholder */
.field_effect::-webkit-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.3s ease;
}
.field_effect:focus::-webkit-input-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus::-moz-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus:-moz-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
.field_effect:focus:-ms-input-placeholder {
  text-indent: 80px;
  transition: text-indent 0.3s ease;
  opacity: 0.3;
}
/****** Colors */
/****** FONTS */
/****** Fields */
.form_row {
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}
.form_row:first-child {
  margin-top: 0;
}
.form_row._tech {
  margin: 0 0 0 -30px;
}
.form_row._bottom {
  display: block;
}
.form__field {
  background-color: transparent;
  border: 1px solid #c8c8c8;
  width: 100%;
  height: 50px;
  outline: none;
  color: #c6c6c6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.form__field::-webkit-input-placeholder {
  color: #c6c6c6;
}
.form__field::-moz-placeholder {
  color: #c6c6c6;
}
.form__field:-moz-placeholder {
  color: #c6c6c6;
}
.form__field:-ms-input-placeholder {
  color: #333;
}
/****** Buttons */
.but {
  display: block;
  height: 50px;
  cursor: pointer;
  border: 1px solid transparent;
  overflow: hidden;
  background-color: #2e55ad;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}
.but_icon:before {
  content: "";
  position: absolute;
  right: 19px;
  top: 16px;
  width: 24px;
  height: 16px;
  background: url('../img/but_icon.png') no-repeat 0 0;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.but_icon:hover:before {
  top: 19px;
}
.but span {
  position: relative;
  z-index: 2;
}
.but:hover {
  color: #0e83cd;
}
.but:hover:after {
  height: 400%;
  opacity: 1;
}
.but:after {
  content: '';
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/****** wrappers */
.main-wrapper {
  padding: 0;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
.content {
  width: 100%;
}
/* loader */
.loaded .main-wrapper {
  visibility: hidden;
}
.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  display: none;
}
.loaded .icon-load {
  display: block;
}
/****** other */
.fixed_line {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background-color: #191919;
  z-index: 1;
}
.fixed_line_logo {
  width: 650px;
  position: absolute;
  left: -297px;
  margin-top: 36px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.fixed_line_logo span {
  text-transform: uppercase;
  color: #ffffff;
}
.fixed_line_logo span:first-child {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  right: 11px;
  letter-spacing: 1px;
  top: -11px;
}
.fixed_line_logo span:nth-child(3) {
  font-size: 25px;
  font-weight: 700;
}
.fixed_line_logo span:last-child {
  font-weight: 300;
  font-size: 25px;
}
.fixed_line_logo img {
  width: 40px;
  height: 43px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 0 10px -10px 7px;
}
.page_search_help .tech_search_col:first-child {
  width: 47%;
  min-height: 785px;
}
.page_search_help .tech_search_col:last-child {
  width: 53%;
  padding-left: 0!important;
}
/*
================================================================================
|                                     DOWNLOAD                                   |
================================================================================
*/
.thank_download {
  height: 601px;
  box-shadow: -27.6px 11.7px 95px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.thank_download .wrapper {
  height: 100%;
  position: relative;
  padding: 108px 0 0 408px;
}
.thank_download_man {
  position: absolute;
  top: -17px;
  left: -183px;
  width: 586px;
  height: 684px;
  background: url('../img/tech_thank_bg.png') no-repeat 0 0;
}
.thank_download_laptop {
  position: absolute;
  bottom: -111px;
  right: -102px;
  width: 667px;
  height: 374px;
  background: url('../img/tech_thank_bg2.png') no-repeat left 0;
}
.thank_download_laptop:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 150px;
  width: 96px;
  height: 31px;
  background: url('../img/tech_thank_arrow.png') no-repeat left 0;
  background-size: contain;
}
.thank_download_titles {
  color: #191919;
  font-weight: 300;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 36px;
  max-width: 605px;
  line-height: 53px;
}
.thank_download_titles span {
  font-weight: 700;
}
.thank_download__slogan {
  color: #2e55ad;
  font-family: 'fs_elliot_probold';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding-left: 20px;
  border-left: 4px solid #2e55ad;
  margin-bottom: 116px;
  max-width: 506px;
  position: relative;
  z-index: 1;
}
.thank_download__info {
  color: #191919;
  font-family: 'fs_elliot_prolight';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-width: 270px;
  letter-spacing: 0px;
}
/*
================================================================================
|                                     TECHNOLOGIES                             |
================================================================================
*/
.tech {
  height: 360px;
  overflow: hidden;
  background: url('../img/tech_bg.jpg') no-repeat 0 0;
  background-size: cover;
}
.tech .wrapper {
  position: relative;
}
.tech_book {
  position: absolute;
  left: 6px;
  top: -34px;
  width: 665px;
  height: 558px;
  background: url('../img/tech_book.png') no-repeat 0 0;
}
.tech_button {
  width: 470px;
  min-height: 240px;
  float: right;
  background: url('../img/tech_button_bg.png') no-repeat 55px 0;
  margin: 53px 92px 0 0;
  padding: 107px 0 0 0;
}
/*
================================================================================
|                                     CREATE                                   |
================================================================================
*/
.create {
  padding: 67px 0 110px;
  background-color: #ffffff;
}
.create .but {
  max-width: 310px;
  margin: 0 auto;
}
.create_slogan {
  color: #7f7f7f;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 4.5px;
  text-align: center;
  margin-bottom: 47px;
}
.create_titles {
  color: #191919;
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 59px;
}
.create_titles div {
  font-weight: 700;
}
.create_service li {
  float: left;
  max-width: 340px;
  padding-left: 55px;
  padding-right: 7px;
  position: relative;
  color: #191919;
  font-family: 'fs_elliot_prolight';
  font-size: 19px;
  line-height: 27px;
  margin-left: 100px;
}
.create_service li:first-child {
  margin-left: 0;
}
.create_service li:before {
  content: "";
  background: url('../img/sprites_icon.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
}
.create_service li._icon_1:before {
  background-position: 0 0;
}
.create_service li._icon_2:before {
  background-position: -41px 0;
}
.create_service li._icon_3:before {
  background-position: -87px 0;
}
.create_content {
  margin-bottom: 38px;
}
.create_content_col {
  float: left;
  width: 50%;
  min-height: 465px;
}
.create_content_col:first-child {
  background: url('../img/create_column_bg.png') no-repeat 20px 5px;
}
.create_content_col:last-child {
  padding-left: 23px;
}
.create_content__title {
  color: #444444;
  font-family: 'fs_elliot_prolight';
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 45px;
  max-width: 365px;
}
.create_content_menu li {
  position: relative;
  padding-left: 30px;
  color: #444444;
  font-family: 'fs_elliot_proregular';
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 9px;
}
.create_content_menu li:before {
  content: "";
  background: url('../img/create_content_menu_icon.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 9px;
  width: 16px;
  height: 16px;
}
/*
================================================================================
|                                     TECH                                   |
================================================================================
*/
.tech_search {
  height: 766px;
  background: url('../img/tech_bg.jpg') no-repeat 0 0;
  background-size: cover;
}
.tech_search._min {
  height: 615px;
}
.tech_search._min .tech_search_col img {
  right: -78px;
  top: -56px;
  position: absolute;
}
.tech_search_col {
  float: left;
  width: 50%;
  position: relative;
}
.tech_search_col img {
  display: block;
  margin: 0 auto 0;
  position: relative;
  right: 31px;
  top: -40px;
}
.tech_search_col:last-child {
  padding-top: 69px;
  padding-left: 24px;
}
.tech_search_form_col {
  float: left;
  width: 50%;
  padding-left: 30px;
}
.tech_search_download {
  position: absolute;
  right: 77px;
  width: 148px;
  height: 80px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 1px;
  top: 195px;
  padding: 18px 0 0 0;
}
.tech_search_download i {
  content: "";
  background: url('../img/tech_search_download_line.png') no-repeat 0 0;
  width: 14px;
  height: 80px;
  position: absolute;
  left: -13px;
  bottom: -1px;
}
.tech_search_download__txt {
  font-size: 18px;
  margin-bottom: 7px;
  font-family: 'fs_elliot_prolight';
  letter-spacing: 0.1px;
  text-align: right;
  padding-right: 20px;
}
.tech_search_download_emount {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  text-align: right;
  padding-right: 37px;
}
.tech_search_download_emount:before {
  content: "";
  background: url('../img/but_icon.png') 0 0;
  width: 24px;
  height: 16px;
  position: absolute;
  left: 32px;
  top: 3px;
}
.tech_search_titles {
  margin-bottom: 30px;
  font-size: 45px;
  color: #ffffff;
}
.tech_search_titles div:first-child {
  font-weight: 300;
  margin-bottom: 9px;
}
.tech_search_titles div:last-child {
  font-weight: 700;
}
.tech_search__desc {
  color: #d8d8d8;
  font-family: 'fs_elliot_probold';
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 33px;
}
.tech_search__desc._light {
  color: #ffffff;
  font-family: 'fs_elliot_prolight';
  margin-bottom: 27px;
  font-size: 15px;
}
.tech_search_list {
  margin-bottom: 33px;
}
.tech_search_list li {
  margin-bottom: 28px;
  position: relative;
  padding-left: 52px;
  color: #c8c8c8;
  font-family: 'fs_elliot_prolight';
  font-size: 19px;
  font-weight: 300;
}
.tech_search_list li:before {
  content: "";
  background: url('../img/sprites.png') no-repeat 0 0;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
}
.tech_search_list li._first:before {
  background-position: -100px 0;
}
.tech_search_list li._middle:before {
  background-position: -97px -42px;
  top: 4px;
}
.tech_search_list li._last:before {
  background-position: -100px -85px;
  top: -8px;
}
/*
================================================================================
|                                     NECESSARY                                   |
================================================================================
*/
.necessary {
  background-color: #ffffff;
  padding: 84px 0 100px;
  text-align: center;
  color: #191919;
}
.necessary__title {
  font-family: 'fs_elliot_prolight';
  font-size: 30px;
  margin-bottom: 75px;
  text-align: center;
}
.necessary_items {
  margin: 0 0 65px -80px;
}
.necessary_items_col {
  float: left;
  width: 33.33%;
  padding-left: 80px;
}
.necessary_items__icon {
  margin: 0 auto 8px;
  background: url('../img/sprites.png') no-repeat 0 0;
  width: 80px;
  height: 80px;
}
.necessary_items__icon._icon_1 {
  background-position: -144px 7px;
}
.necessary_items__icon._icon_2 {
  background-position: -242px 14px;
}
.necessary_items__icon._icon_3 {
  background-position: -347px 13px;
}
.necessary_items__desc {
  font-family: 'fs_elliot_proregular';
  font-size: 16px;
  line-height: 25px;
}
.necessary_desc {
  color: #2e55ad;
  font-family: 'fs_elliot_probold';
  font-size: 18px;
  line-height: 27px;
  border: 2px solid #2e55ad;
  padding: 39px 0 34px;
  position: relative;
  text-align: center;
}
.necessary_desc._help {
  margin-top: 95px;
  padding: 59px 0 45px;
}
.necessary_desc__icon {
  background-color: #ffffff;
  width: 170px;
  height: 75px;
  position: absolute;
  margin: 0 auto;
  top: -55px;
  left: 0;
  right: 0;
}
.necessary_desc__icon:before {
  content: '';
  margin: 5px auto 0;
  width: 66px;
  height: 74px;
  background: url('../img/sprites.png') no-repeat 0 0;
  display: block;
}
.necessary_desc._help .necessary_desc__icon {
  width: 370px;
  top: -39px;
}
.necessary_desc._help .necessary_desc__icon:before {
  position: absolute;
  left: 43px;
  top: 12px;
  background-position: -501px 0;
  width: 41px;
  height: 41px;
}
.necessary_desc._help .necessary_desc__icon span {
  color: #2e55ad;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: block;
  font-style: normal;
  letter-spacing: -3px;
  padding-top: 25px;
}
/*
================================================================================
|                                     INTRO                                    |
================================================================================
*/
.intro {
  height: 703px;
  background: url('../img/intro_bg.jpg') no-repeat 0 0;
  background-size: cover;
}
.intro .wrapper {
  position: relative;
}
.intro_about {
  padding-top: 193px;
}
.intro_about .but {
  max-width: 435px;
}
.intro_about .but:hover:after {
  height: 490%;
}
.intro_about_col {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.intro_about_name {
  border-left: 5px solid #2e55ad;
  padding-left: 20px;
  position: absolute;
  bottom: -268px;
  right: 12px;
}
.intro_about_name span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  font-family: 'FSElliotProlight', sans-serif;
  color: #ffffff;
}
.intro_about_name span:first-child {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'FSElliotProbold', sans-serif;
  margin-bottom: 8px;
  padding-top: 5px;
}
.intro_about__title {
  color: #ffffff;
  font-family: 'fs_elliot_probold';
  line-height: 30px;
  font-size: 25px;
  margin-bottom: 30px;
}
.intro_about__info {
  font-size: 22px;
  line-height: 30px;
  font-family: 'fs_elliot_prolight';
  color: #ffffff;
  margin-bottom: 53px;
}
/*
================================================================================
|                                     SEARCH_DONE                                    |
================================================================================
*/
.search_done__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
  color: #2e55ad;
  margin-bottom: 60px;
  padding-top: 132px;
}
.search_done__desc {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 34px;
}
.search_done__desc span {
  font-weight: 700;
}
/*
================================================================================
|                                     INSTRUCTION                                   |
================================================================================
*/
.instruction {
  background-color: #ffffff;
  padding: 167px 0 94px;
}
.instruction_colums {
  margin: 0 0 0 -30px;
  overflow: hidden;
  width: 100%;
}
.instruction_col {
  width: 33.33%;
  float: left;
  text-align: center;
  padding-left: 30px;
  position: relative;
}
.instruction_col .but {
  max-width: 230px;
  margin: 0 auto;
}
.instruction_icon {
  display: block;
  margin: 0 auto 8px;
  width: 100%;
  height: 208px;
  background-size: contain;
}
.instruction_icon._icon_1 {
  background: url('../img/instruction_icon1.png') no-repeat center;
}
.instruction_icon._icon_2 {
  background: url('../img/instruction_icon2.png') no-repeat 0 19px;
  background-size: contain;
}
.instruction_icon._icon_3 {
  background: url('../img/instruction_icon3.png') no-repeat 0 19px;
  background-size: contain;
}
.instruction__level {
  color: #2e55ad;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 1px;
}
.instruction__desc {
  color: #191919;
  font-family: 'fs_elliot_proregular';
  font-size: 17px;
  line-height: 25px;
}
.instruction__desc._min {
  max-width: 207px;
  margin: 0 auto 14px;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  padding: 54px 60px 50px 138px;
  height: 120px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #191919;
  font-family: 'fs_elliot_proregular';
  font-size: 14px;
}
.footer_support {
  float: left;
  color: #bdbdbd;
}
.footer_support a {
  color: #2e55ad;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid transparent;
}
.footer_support a:hover {
  border-color: initial;
}
.footer_service {
  float: right;
  padding-right: 46px;
}
.footer_service a {
  float: left;
  margin-left: 52px;
  color: #454545;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  border-bottom: 1px solid;
  border-color: initial;
}
.footer_service a:hover {
  border-bottom: 1px solid transparent;
}
/* ====================================================
   ADAPTS STYLES
======================================================= 
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
=======================================================
======================================================= */
.intro_plashka {
  display: none;
}
@media handheld, only screen and (min-width: 1170px) {
  .wrapper {
    margin: 0 auto;
    width: 1170px;
    padding-left: 70px;
  }
}
@media handheld, only screen and (max-width: 1919px) {
  .intro {
    background-position: center;
  }
}
@media handheld, only screen and (max-width: 1200px) {
  .fixed_line {
    display: none;
  }
  .footer {
    padding: 50px 15px;
  }
  .footer_service {
    padding-right: 0;
  }
}
@media handheld, only screen and (max-width: 1199px) {
  .wrapper {
    padding: 0 15px!important;
  }
}
@media handheld, only screen and (max-width: 1023px) {
  /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
  .tech_search_col img {
    width: 100%;
    right: -82px;
    top: 0;
  }
  .tech_search_download {
    top: 195px;
    right: 48px;
  }
}
@media handheld, only screen and (max-width: 960px) {
  /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
  .tech_search_col {
    float: none;
    width: 100%;
  }
  .tech_search_col:first-child {
    display: none;
  }
  .tech_search_col:last-child {
    padding-left: 0;
  }
}
@media handheld, only screen and (max-width: 768px) {
  /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
  .tech_search {
    height: 425px;
  }
  .tech_search_col:last-child {
    padding-top: 30px;
    padding-left: 0;
  }
  .tech_search_titles {
    margin-bottom: 15px;
    font-size: 23px;
  }
  .tech_search__desc {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .tech_search_list {
    margin-bottom: 15px;
  }
  .tech_search_list li {
    margin-bottom: 14px;
    padding-left: 25px;
    font-size: 12px;
  }
  .tech_search__desc._light {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .tech_search_list li:before {
    background: url(../img/sprites_mob.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
  }
  .tech_search_list li._first:before {
    background-position: -50px 0;
  }
  .tech_search_list li._middle:before {
    background-position: -48px -21px;
    top: 2px;
  }
  .tech_search_list li._last:before {
    background-position: -50px -42px;
    top: -4px;
  }
  /*
	================================================================================
	|                                     NECESSARY                                   |
	================================================================================
	*/
  .necessary {
    padding: 30px 0 30px;
  }
  .necessary__title {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .necessary_items {
    margin: 0 0 30px -30px;
  }
  .necessary_items_col {
    padding-left: 30px;
  }
  .necessary_items__icon {
    margin: 0 auto 4px;
    background: url('../img/sprites_mob.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
  }
  .necessary_items__icon._icon_1 {
    background-position: -72px 3px;
  }
  .necessary_items__icon._icon_2 {
    background-position: -121px 7px;
  }
  .necessary_items__icon._icon_3 {
    background-position: -173px 6px;
  }
  .necessary_items__desc {
    font-size: 12px;
    line-height: 16px;
  }
  .necessary_desc {
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #2e55ad;
    padding: 20px 0 15px;
  }
  .necessary_desc._help {
    margin-top: 40px;
    padding: 30px 0 20px;
  }
  .necessary_desc__icon {
    width: 85px;
    height: 35px;
    top: -25px;
  }
  .necessary_desc__icon:before {
    margin: 3px auto 0;
    width: 33px;
    height: 37px;
    background: url('../img/sprites_mob.png') no-repeat 0 0;
  }
  .necessary_desc._help .necessary_desc__icon {
    width: 185px;
    top: -20px;
  }
  .necessary_desc._help .necessary_desc__icon:before {
    left: 22px;
    top: 6px;
    background-position: -250px 0;
    width: 21px;
    height: 21px;
  }
  .necessary_desc._help .necessary_desc__icon span {
    font-size: 23px;
    letter-spacing: -1px;
    padding-top: 12px;
  }
  /*
	================================================================================
	|                                     INTRO                                    |
	================================================================================
	*/
  .intro {
    height: 255px;
  }
  .intro_about {
    padding-top: 30px;
  }
  .intro_about__title {
    line-height: 16px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .intro_about__info {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 25px;
  }
  .intro_about_col {
    float: none;
    width: 100%;
  }
  .intro_about_name {
    border-left: 2px solid #2e55ad;
    padding-left: 10px;
    bottom: -56px;
    right: 0;
  }
  .intro_about_name span:first-child {
    font-size: 12px;
    margin-bottom: 4px;
    padding-top: 3px;
  }
  .intro_about_name span {
    font-size: 12px;
  }
  /*
	================================================================================
	|                                     OTHER                                    |
	================================================================================
	*/
  .form__field {
    height: 30px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .form_row._bottom {
    padding-right: 0;
    display: block;
  }
  .but {
    height: 30px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 0;
  }
  .but_icon:before {
    top: 8px;
    background-size: 80%;
  }
  .but_icon:hover:before {
    top: 8px;
  }
  .but:hover:after {
    height: 400%;
    opacity: 0;
  }
  .but:hover {
    color: #ffffff;
  }
  .form_row {
    margin-top: 15px;
  }
  /*
	================================================================================
	|                                     FOOTER                                   |
	================================================================================
	*/
  .footer {
    padding: 15px;
    height: 106px;
    font-size: 14px;
    text-align: center;
  }
  .footer_support {
    float: none;
    margin-bottom: 10px;
  }
  .footer_service {
    float: none;
    text-align: center;
  }
  .footer_service a {
    margin-left: 0;
    float: none;
    display: table;
    margin: 0 auto 10px;
  }
  .content {
    padding-bottom: 96px !important;
  }
}
@media handheld, only screen and (max-width: 480px) {
  /*
	================================================================================
	|                                     TECH                                   |
	================================================================================
	*/
  .tech_search {
    height: 510px;
  }
  .form_row._tech {
    margin: 0 0 0 0;
  }
  .tech_search_form_col {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .tech_search_form_col:first-child {
    margin-bottom: 10px;
  }
  /*
	================================================================================
	|                                     NECESSARY                                   |
	================================================================================
	*/
  .necessary_items {
    margin: 0 0 30px 0;
  }
  .necessary_items_col {
    padding-left: 0;
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .necessary_desc {
    padding: 20px 15px 15px;
  }
}
@media handheld, only screen and (max-width: 479px) {
  /*
	================================================================================
	|                                     INTRO                                    |
	================================================================================
	*/
  .intro {
    height: 295px;
  }
  .footer_support a {
    margin-top: 5px;
    display: block;
  }
}
