@import (less) "reset.less"; 

/*
================================================================================
|                                     TECH                                   |
================================================================================
*/
.tech {
	height: 911px;
    background: url('../img/tech_bg.jpg') no-repeat 0 0;
    background-size: cover;
}
.tech_col {
    float: left;
    width: 50%;
    position: relative;
    img {
        display: block;
        margin: 75px auto 0;
        position: relative;
        right: 16px;
    }
    &:last-child {
        padding-top: 69px;
    }
}
.tech_form_col {
    float: left;
    width: 50%;
    padding-left: 30px;
}
.tech_download {
    position: absolute;
    right: 184px;
    bottom: -36px;
    width: auto;

    color: @white;
    letter-spacing: 1px;
    i {
        content: "";
        background: url('../img/sprites.png') 0 0;
        width: 56px;
        height: 116px;
        position: absolute;
        left: -57px;
        bottom: 7px;
    }
}
.tech_download__txt {
    font-size: 18px;
    margin-bottom: 11px;
    font-family: 'FSElliotProlight', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1px;
}
.tech_download_emount {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-align: right;
    padding-right: 14px;
    &:before {
        content: "";
        background: url('../img/sprites.png') -102px 0;
        width: 24px;
        height: 16px;
        position: absolute;
        left: 13px;
        top: 0;
    }
}
.tech_titles {
    margin-bottom: 25px;
    font-size: 45px;
    color: @white;
    div {
        &:first-child {
            font-weight: 300;
            margin-bottom: 9px;
        }
        &:last-child {
            font-weight: 700;
        }
    }  
}
.tech__desc {
    color: #d8d8d8;
    font-family: 'FSElliotProbold',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    margin-bottom: 45px;
    &._light {
        color: @white;
        font-family: 'FSElliotProlight',sans-serif;
        font-weight: 300;

        margin-bottom: 32px;
    }
}
.tech_list {
    margin-bottom: 54px;
    padding-left: 38px;
    li {
        margin-bottom: 28px;
        position: relative;
        padding-left: 52px;

        color: @gray; 
        font-family: 'FSElliotProlight',sans-serif;
        font-size: 19px;
        font-weight: 300;
        &:before {
            content: "";
            background: url('../img/sprites.png') no-repeat 0 0;
            width: 36px;
            height: 36px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &._first {
            &:before {
                background-position: -145px 0;
            }
        }
        &._middle {
            &:before {
                background-position: -145px -51px;
                top: 4px;
            }
        }
        &._last {
            &:before {
                background-position: -145px -104px;
                top: -8px;
            }
        }
    }
}//tech_list
.tech_but_icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 50px; 
    background: url('../img/sprites.png') no-repeat -213px 0;
    &:before {
        content: "";
        background: url('../img/sprites.png') no-repeat -102px -25px;
        width: 24px;
        height: 16px;
        margin: 18px auto 0;
        display: block;
        position: relative;
        top: 0;
        .transition(); 
    }
    &:hover {
        &:before {
            top: 3px;
        }
    }
}
/*
================================================================================
|                                     INTRO                                    |
================================================================================
*/
.intro {
    height: 1275px;
    background: url('../img/intro_bg.jpg') no-repeat -71px 68px;
    background-size: cover;
    .wrapper {
        position: relative;
    }
}
.intro_menu {
    background-color: @white;
    padding: 60px 55px 20px;
    position: relative;
    margin-top: -145px;
}
.intro_menu__title {
    color: @gray3;
    font-family: 'FSElliotProlight',sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;

    margin-bottom: 44px;
}
.intro_menu_colums {
    margin: 0 0 0 -70px;
}
.intro_menu_col {
    float: left;
    width: 33.33%;
    height: 170px;
    padding-left: 70px;
    margin-bottom: 28px;
    position: relative;
}
.intro_menu__icon {
    width: 75px;
    height: 75px;
    background: url('../img/sprites.png') no-repeat 0 0;
    margin: 0 auto 4px;
    position: relative;
   &._icon_1 {
        background-position: -305px 19px;
        top: 7px;
        left: -18px;
   } 
   &._icon_2 {
        background-position: -420px 0;
   } 
   &._icon_3 {
        background-position: -528px 9px;
        top: -12px;
   } 
   &._icon_4 {
        background-position: -641px 14px;
   } 
   &._icon_5 {
        background-position: -305px -88px;
        top: -3px;
   } 
   &._icon_6 {
        background-position: -420px -81px;
   } 
}
.intro_menu__desc {
    text-align: center;
    color: @gray3;
    font-family: 'FSElliotPro',sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
}
//about
.intro_about {
    padding-top: 89px;
    .but {
        max-width: 355px;
    }
}
.intro_about_col {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.intro_about_desc {
    margin-bottom: 54px;
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        font-family: 'FSElliotProlight',sans-serif;
        color: @gray3;
        &:first-child {
            margin-bottom: 29px;
        }
        &._line {
            border-left: 2px solid @green;
            padding-left: 30px;
        }
    }
}
.intro_about_name {
    border-left: 5px solid @green;
    padding-left: 20px;
    position: absolute;
    bottom: -360px;
    right: 120px;;
    span {
        display: block;
        font-size: 16px;
        font-weight: 300;
        font-family: 'FSElliotProlight',sans-serif;
        color: #ffffff;
        &:first-child {
            color: @white;
            font-size: 20px;
            font-weight: 700;
            font-family: 'FSElliotProbold',sans-serif;
            margin-bottom: 8px;
            padding-top: 5px;
        }
    }
}
.intro_about__info {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    font-weight: 700;
    font-family: 'FSElliotProbold',sans-serif;
    color: @gray3;

    margin-bottom: 40px;
}

//footer
.footer{	
    padding: 54px 60px 50px 138px;
	height: 120px; 
	position: absolute;
	left: 0px; 
    bottom: 0px;
	width: 100%;
    background-color: @darck;

    font-family: 'FSElliotPro',sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer_support {
    float: left;
    color: @white2;
    a {
        color: @blue;
        .hvr_trans();
    }
}
.footer_service {
    float: right;
    padding-right: 46px;
    a {
        float: left;
        margin-left: 52px;
        color: @gray4;
        .hvr();
    }
}

@import (less) "adapts.less"; 

